.project {
  display: flex;
  justify-content: space-between;
  color: rgb(90, 90, 90);
  font-size: 1.2em;
  margin-bottom: 0.3vw;
  padding: 0.2vh 0.1vw;
}
.project:hover {
  background-color: rgb(222, 222, 222);
}

span {
  text-align: center;
}

.btn {
  margin-right: 0.5vw;
  color: rgb(173, 173, 173);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
}

.input {
  width: 20%;
  padding: 0.5vh 0 0.5vh 0.5vw;
  margin-bottom: 1vh;
  border: 1px solid rgb(202, 202, 202);
}

.textArea {
  width: 20%;
  padding: 0.5vh 0 0.5vh 0.5vw;
  margin-bottom: 1vh;
  border: 1px solid rgb(202, 202, 202);
}
#heading1 {
  margin-left: 2vw;
  color: rgb(67, 67, 67);
}

.label {
  text-align: left;
  width: 20%;
}

#heading2 {
  width: 40%;
  text-align: center;
  padding-bottom: 0.8vh;
  border-bottom: 1px solid rgb(82, 82, 82);
  margin-bottom: 3.5vh;
}

.button {
  background-color: #b88263;
  color: white;
  border: 0;
  font-family: "Noto Serif", serif;
  letter-spacing: 1px;
  padding: 1vh 1vw;
  border-radius: 3px;
}

.errorLog {
  color: rgb(214, 98, 98);
}

.response {
  color: white;
  background-color: rgb(92, 175, 92);
  padding: 1vh 4vw;
}
